body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: rgb(45, 3, 80);
    font-family: 'IM Fell Double Pica SC', serif;
    font-size: 4vh;
    text-align: center;
}

.quiz-container {
    width: 600px;
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    border: 5px solid rgb(45, 3, 80);
}

.heading {
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(71, 6, 124);
}

/* .rules-container  */

.options-section {
    display: inline;
    margin: 25px 0;
}

button {
    font-family: serif;
    font-size: 2vh;
}

.btn {
    padding: 10px 15px;
    color: rgb(45, 3, 80);
    outline: none;
    border-radius: 10px;
    border: 2px solid rgb(45, 3, 80);
    background-color: white;
}

button .btn {
    font-size: 2vh;
    /* font-family: serif; */
}

button #play-btn .play-btn.btn {
    font-size: 2vh;
}

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.btn:hover {
    background-color: rgb(45, 3, 80);
    color: white;
}

.btns #play-btn{ 
    font-family: serif;
}

.play-btn,
.next-btn {
    font-size: 2rem;
    padding: 10px 20px;
    font-weight: bold;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    font-family: serif;
}

.btn.correct {
    background-color: rgb(204, 231, 150);
    font-weight: bold;
    color: black;
}

.btn.incorrect {
    background-color: rgb(228, 121, 142);
    font-weight: bold;
}

.hide {
    display: none;
}